/* Font 
@font-face {
   font-family: LatoRegular;
   src: url(/Lato/Lato/Lato-Regular.woff);
}

@font-face {
   font-family: LatoMedium;
   src: url(/Lato/Lato/Lato-Medium.woff);
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.btn-primary {
	background-color: #FDFFFC;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
	background-color: #011627;
	color:aqua;
	
}
h5{
	font-family: 'Open Sans', sans-serif;
}
strong{
	font-family: 'Open Sans', sans-serif;
}
.box{
	border: 2px #BBB solid
}
.footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
	color: #FDFFFC;
	border-top: 1px solid #2EC4B6;
  background-color: #E71D36;
}

pre {
  display: block;
  padding: 5.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Navbar color override */

.themeTextColor {
	color:#f5f5f5;
  font-size:14px;
}
.navbar-default {
	height: 50px;
	font-size: 16px;
  /*background-color: #b9adfb;*/
	/*background-color: #fbcb43; 
	border-color: #fbcb43; */
  background-color: #FDFFFC; 
    border-color: #2EC4B6; 
	color: #011627;
}
.navbar-default .navbar-brand {
  color: #011627;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #011627;
}
.navbar-default .navbar-text {
  color: #011627;
}
.navbar-default .navbar-nav > li > a {
  color: #011627;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #011627;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FDFFFC;
  background-color: #011627;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FDFFFC;
  background-color: #011627;
}
.navbar-default .navbar-toggle {
  border-color: #FDFFFC;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #011627;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FDFFFC;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FDFFFC;
}
.navbar-default .navbar-link {
  color: #FDFFFC;
}
.navbar-default .navbar-link:hover {
  color: #FDFFFC;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FDFFFC;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FDFFFC;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FDFFFC;
    background-color: #011627;
  }
}

/* MAIN POSTS PAGE */

.url {
  font-weight: normal;
  color:#999;
  font-size:11px;
  
}

.searchresult {
	margin-left:5px;
	margin-top:5px;
	padding-bottom : 15px;
}

.resultLink {
	font-size:17px;
}

.post {
  padding:10px 0;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.info {
  
  font-size: 16px;
  margin-left: 20px;
  margin-top: 3px;
}

.subinfo {
  color:#999;
   /*font-weight:bolder;*/
  text-decoration-color: currentColor;
  font-size: 11px;
  margin-left: 20px;
  margin-top: 3px;
}



/* Comment Box */
.mystyle input[type="text"] {
  height: 60px;
  font-size: 1px;
  line-height: 14px;
}
.comments {
  background: #011627;
  margin-left: 25px;
  margin-bottom: 2px;
  border-bottom-color: currentColor; 
}
.commentsDetail {
  color:#999;
  font-size:11px;
  background: #011627;
  
  margin-top: -5px;
  border-bottom-color: currentColor;
  
}

/* PROFILE PAGE */
.prof-img{
  width:100%;
  max-width:100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.name {
  font-weight: bolder;
  font-size: 1.5em;
}


.vote {
  height:20px;
  cursor: pointer;
}

.auth-forms {
  max-width:400px;
  margin:0 auto;
  background: #011627;
  padding:1px 25px 25px 25px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.cmt-form {
  margin-top:30px;
}

.cmt {
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #ccc;
}

.cmt .author {
  font-size:11px;
  color:#bbb;
}
.awesome {
	font-family: 'Bradley Hand ITC';
	font-size: 30px;
	font-weight: bold;
}
.noun {
    text-decoration: none;
}

/* Bootstrap Callouts */
/* Base styles (regardless of theme) */
.bs-callout {
  
  padding: 10px 10px 10px 10px;
  border: 1px solid #eee;
  border-left-width: 8px;
  vertical-align: middle;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #011627;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  
  border-color: #39E9CC;
}
/* Track Page Designs */
.bs-callout:hover {
  
}
.get-shadows {
  box-shadow: 0px 0px 10px #AAA;
}