<div>
	<br/><br/>
	
<div  style="position: absolute; top:30%;left:15%;" align="center">
	<p style="text-align: center;font-family:courier;font-size:75px;">Sorry!.. you are 404 Zoned!</p>
	<p style="text-align: center;font-family:courier;font-size:25px;">We cant find the page you are looking for.. <a href="\home" target="_self">Home</a> ?</p>
			</div>

</div>