<div>
<br/><br/>
	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<br/><br/><br/>
				<div class="col-sm-12" align="middle"><h3>Movie Lab</h3><h5>Find amazing Movies..</h5></div>
				<br/><br/><br/><hr/><br/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GTD application makes form submission and follow up easier. Each user will be able to easily apply to various schemes directly ,thus reducing the chance of corruption. 
The ease to directly complete any application online based on one's eligibility and see all the necessary documents related to it makes such processes much easier and cleaner.<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In our application, users can select the forms based on the category and fill the form online, see its corresponding details and supporting docs required and upload the entire final copies and submit it for approval.<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
This makes tracking any application simpler. Also, analytics can be employed to understand scheme usage, enabling authorities to respond accordingly.
All these features are based on Aadhar authentication.<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Government authorities or those with admin privileges can easily create any online form which can be exported here or upload a PDF form. The user will be able to fill either type of these forms and after completion a new electronic PDF form will be generated based on the details he gave and the Aadhar based details. The user can download this filled form anytime and submit with the required things.</p>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</div>