<html>
<head>
	<title>MAD -- Dashboard</title>
	<meta charset="utf-8">
	<meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	
	<link rel="icon" 
      type="image/png" 
      href="/images/Favicon.png">
	
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- CSS pertaining to design --> 
	<link href="/css/main.css" rel="stylesheet">
	<!-- slider -->
	<link href="/js/slider/css/slider.css" rel="stylesheet">
	<!-- dc.js -->
	<link href="/css/dc.css" rel="stylesheet">
	
	<!-- Google font -->
	
	<base href="/">
</head>
<body  ng-app="mainApp" class="card">
	<div ng-controller="homeCtrl" ng-cloak>
		
		<!-- Navbar  -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container" >
				
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse" >
					<span class="icon-bar" style="background-color:#EEE;"></span>
					<span class="icon-bar" style="background-color:#EEE;"></span>
					<span class="icon-bar" style="background-color:#EEE;"></span>
					
        </button>
				<div class="navbar-header">
					<a class="navbar-brand nav" href="/profile">MovieLab</a>
				</div>
				<div class="collapse navbar-collapse navHeaderCollapse">
					<!-- 
<button class="nav navbar-nav navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button

					<u1 class="nav navbar-nav">
					<li class="active"><a href="#">Index</a></li>
					<li><a href="link1.htm">Link 1</a></li>
{{ ( (typeof(currentUser)==='undefined' || (''+currentUser)==='undefined')?false:true}}
					</u1>
-->
					<ul class="nav  navbar-nav navbar-right">
						<li class=""><a href="/about">About</a></li>
					</ul>
				</div>
				
			</div>
			
		</div>


		<div class="">
			<br/><br/>
			<!--			 Code Below - Angular Routing for Templating		-->
			<div  ui-view>
			</div>

			<!--			 Code Above 			-->
				<br/>
		</div>
	</div>

	<footer class="footer">
    	<div class="container" align="middle">
			<p class="text-muted">
				<p class="themeTextColor" valign="middle">
					Made with IBM Bluemix & Watson |&nbsp;&nbsp;<a class="themeTextColor" href="https://twitter.com/ranji2612" target="_blank">Ranji2612</a>
				</p>
			</p>
		</div>
	</footer>
	

	<!-- Loading scripts at the end -->
	<!-- Libraries -->
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-route.js"></script>
	<script src="/js/jquery.min.js"></script>
	
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- angular-ui js -->
	<script src="/js/angular-ui-router.min.js" charset="utf-8"></script>
	
	<!-- D3 js-->
	<script src="/js/d3js/d3.min.js" charset="utf-8"></script>
	<!-- Slider -->
	<script src="/js/slider/js/bootstrap-slider.js" charset="utf-8"></script>
	
	
	<!-- App script files  -->
	<script src="/scripts/app.js"></script>
	<script src="/scripts/controllers/indexCtrl.js"></script>
	<script src="/scripts/controllers/landingCtrl.js"></script>
	<script src="/scripts/controllers/suggestCtrl.js"></script>
	<script src="/scripts/controllers/searchCtrl.js"></script>
	<script src="/scripts/controllers/movieCtrl.js"></script>
	<!-- Services  -->
	<script src="/scripts/services/usersApi.js"></script>
	
	<!-- Filters  -->
	<script src="/scripts/filters/numDashRep.js"></script>
	<script src="/scripts/filters/capitalize.js"></script>
	<!-- Directives -->
	<script src="/scripts/directives/focusMe.js"></script>
	<script src="/scripts/directives/imageOnLoad.js"></script>
	
	<!-- End of Scripts -->
</body>
</html>
