<br/><br/>
<div class="container">
	<input type="text" ng-model="movieId">
	<button ng-click="updateDB()">Update DB</button>
	<div class="container" ng-repeat="movie in movieList" style="border:1px solid #023;">
		<div class="row"><h4>Movie</h4></div>
		<div class="row">
			<div class="col-sm-12"><strong>{{movie.title}}</strong></div>
			<div class="col-sm-12"><strong>{{(movie.overallScore + 1)*50}}</strong></div>
		</div>
		<div class="row"><h4>ID</h4></div>
		<div class="row">
			<div class="col-sm-12">{{movie.id}}</div>
		</div>
		<div class="row"><h4>Reviews</h4></div>
		<div class="row">
			<div class="col-sm-6">
				<h5>Positive</h5>
				<div class="col-sm-12" ng-repeat="review in movie.extractedInfo.positive | orderBy : '-relevence' | limitTo : 10">{{review.text}} - {{review.relevence}} </div>
			</div>
			<div class="col-sm-6">
				<h5>Negative</h5>
				<div class="col-sm-12" ng-repeat="review in movie.extractedInfo.negative | orderBy : '-relevence' | limitTo : 10">{{review.text}} - {{review.relevence}} </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" style="word-wrap: break-word;">
				<h5>Index</h5>
				{{movie.index}}
			</div>
		</div>
		
	</div>

</div>