<br/><br/>
<div>
	<style>
	span.glyphicon-link {
		font-size: 5.2em;
	}
	</style>
	<div class="container" align="middle" style="margin-top:10%;">
		<div class="row">
			<div class="col-xs-0 col-sm-3"></div>
			<div class="col-xs-6 col-sm-3">
				<a href="/suggest" style="text-decoration:none;color:#FDFFFC;">
					<img src="/images/popcorn.png" width="90%">
					<h4>Suggest me a movie..</h4>
				</a>
			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="/search" style="text-decoration:none;color:#FDFFFC;">
					<img src="/images/tickets.png" width="90%">
					<h4>I want to check this movie</h4>
				</a>
			</div>
			<div class="col-xs-0 col-sm-3"></div>
			
		</div>
	</div>
</div>