<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-sm-3" align="middle"><br/>
			<img src="{{movie.img}}" width="80%">
		</div>
		<div class="col-sm-9" style="wrap:break-word;">
			<div class="col-sm-6">
				<div class="col-sm-12">
					<h3>{{movie.title}}</h3>
					<p>Rating : {{(''+(100*(result.overallScore+1)/2)).slice(0,2)+'%'}}</p>
				</div>
				<div class="col-sm-12">
					<p align="justify">{{movie.desc}}</p>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="col-sm-12"><h3>Ingredients</h3></div>
				<div class="col-sm-12">
					<br/>
					<div ng-repeat="(key,value) in ingredients">
							{{key+'' | capitalize}}
					<div class="progress" align="middle">
					
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{value}}"
					  aria-valuemin="0" aria-valuemax="10" style="width:{{value*10}}%" >
						
					  </div>
					
					</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>
<div style="background-color:#2EC4B6;color:#011627;">
	<div class="container">
		<div class="row">
			<br/>
			<!-- positive -->
			<div class="col-sm-6" align="middle">
				Why you might like this ..
				<div class="row">
					<div class="col-sm-6" ng-repeat="review in movie.extractedInfo.positive | orderBy : '-relevence*val' | limitTo : 6" style="padding:10px;"><h4>"{{review.text}}"</h4><br/></div>
				</div>
			</div>
			<!-- Negative -->
			<div class="col-sm-6" align="middle">
				Why you might like this ..
				<div class="row">
					<div class="col-sm-6" ng-repeat="review in movie.extractedInfo.negative | orderBy : '-relevence*val' | limitTo : 6" style="padding:10px;"><h4>"{{review.text}}"</h4><br/></div>
				</div>
			</div>

		</div>
</div>