<div >
	<!-- Jumbotron and the landing page -->
	<div  ng-hide="searchStarted">
		<div class="jumbotron" align="center" >
			<!-- Big size logo  -->
			<br/>
			<div class="img container">
				<div class="col-sm-10 col-sm-offset-1" style="color:#E71D36;">
					<!-- <img src="/images/film.png" width="55%" >  -->
					<h1>" Search, movies based on its best elements, worst elements and even the plot.. "</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<!-- old one For backup ng-show="searchStarted"-->
		<div class="row" >
			<br/>
			<form ng-submit="getResults()">
				<!-- Class for alignment during shifft up -->
				<div class="col-sm-1" ng-hide="searchStarted">&nbsp;</div>
				
				<div class="col-sm-8 col-sm-offset-1 col-xs-12">
					<input class="input form-control col-sm-12" type="text" ng-model="searchKeywords" focus-me="true"/>
				</div>
				<!-- Classes for alignment during shifft up -->
				<div class="col-sm-2" ng-hide="searchStarted">&nbsp;</div>
				<div class="col-xs-12" ng-hide="searchStarted">&nbsp;</div>
				<div class="col-sm-5" ng-hide="searchStarted"></div>
				
				<div class="col-sm-2 col-xs-12">
					<button type="submit" class="col-xs-12 btn btn-md btn-warning" ng-click="getResults()">Search</button>
				</div>
			</form>
		</div>
		


		<br/><br/>
		
		<div class="row" ng-show="showResults">
			<div class="col-sm-3" ng-repeat="result in searchResults">
				<a class="col-sm-12" href="/movie/{{result.id}}" style="text-decoration:none;">
					<div class="col-sm-12"  align="middle">
						<img src="{{result.img}}" width="95%">
					</div>
					<div class="col-sm-10"><h4>{{result.title}}</h4></div>
					<div class="col-sm-2" align="right"><h4>{{(''+(100*(result.overallScore+1)/2)).slice(0,2)+'%'}}</h4></div>
				</a>
			</div>
		</div>
		
		<!--    TO HANDLE NO RESULT -->
		<div class="row" ng-show="noResults">
			<div class="col-sm-10 col-sm-offset-2 searchresult">
				<h4><center><strong>Sorry.. No result found for '{{searchKeywords}}'..</strong></center></h4><br/><hr/>
				<h5>
					Do you want to search on <br/><br/>
					&nbsp;&nbsp;&nbsp;<a href="https://www.google.co.in/search?q={{searchKeywords}}" target="_blank"><strong>Google</strong></a><br/><br/>
					&nbsp;&nbsp;&nbsp;<a href="http://www.imdb.com/find?ref_=nv_sr_fn&q={{searchKeywords}}&s=all" target="_blank"><strong>IMDB</strong></a><br/><br/>
					&nbsp;&nbsp;&nbsp;<a href="http://www.rottentomatoes.com/search/?search={{searchKeywords}}" target="_blank"><strong>Rotten Tomatoes</strong></a><br/><br/>
					&nbsp;&nbsp;&nbsp;<a href="http://www.metacritic.com/search/all/{{searchKeywords}}/results" target="_blank"><strong>Metacritic</strong></a><br/><br/>
					
				</h5>
			</div>
		</div>
		
	</div>
</div>