<div>
	

<br/>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Add the necessary Ingredients &nbsp; &nbsp; &nbsp; &nbsp; <button class="btn btn-lg btn-warning">Suggest Me!</button></h3><hr/><br/><br/>
				<div class="col-sm-6">
					<h4>Genre</h4>
					<div class="col-sm-12"><br/>
						<h5>Action</h5>						
						<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
						<br/>
						
						<h5>Drama</h5>
						<input id="ex2" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
						<br/>
						<h5>Romance</h5>
						<input id="ex3" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
						<br/>
						<h5>Comedy</h5>
						<input id="ex4" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
						<br/>
						<h5>Sci-Fi</h5>
						<input id="ex5" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
						<br/>
					</div>
					<div class="col-sm-12">
						
					</div>
				</div>
				<div class="col-sm-6">
					<h4>By words</h4>
					<textarea class="com-sm-12" style="width:100%;color:#011627;" cols="60" ng-model="keywords" placeholder="Say some things about the movie .. Eg. Action based, visual brillance"></textarea>
				</div>
			</div>
			<div class="col-sm-12">
				
			</div>
		</div>
	</div>

</div>